section.featured-comment {
	width: 100%;
	margin-top: 60px;
	background-color: transparent;
}

section.featured-comment .container-fluid {
	width: 100%;
	padding: 30px 60px 0 60px;
	align-items: center;
	justify-content: space-between;
}

section.featured-comment .container-fluid .heading {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

section.featured-comment .container-fluid .heading h1 {
	display: inline;
	font-family: "ESAllianz-Regular", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3.2rem;
	line-height: 4rem;
	letter-spacing: 0rem;
}

section.featured-comment .container-fluid .heading .icon {
	margin: -30px 0 0 0;
	padding: 0;
}

section.featured-comment .container-fluid .card {
	width: 100%;
	min-height: 100px;
	/* padding: 14px 20px; */
	margin-bottom: 10px;
	border: none;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10px;
}

section.featured-comment .container-fluid .card .card-body {
	width: 100%;
	margin: 0;
	padding: 0;
	color: #000;
}

section.featured-comment .container-fluid .card .card-body .row {
	width: 100%;
	margin: 0;
	padding: 0;
}

section.featured-comment .container-fluid .card .card-body .product-img-wrapper {
	padding: 0;
}

section.featured-comment .container-fluid .card .card-body .product-img-wrapper .product-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

section.featured-comment .container-fluid .card .card-body .user-info-wrapper {
	padding: 10px;
}

section.featured-comment .container-fluid .card .card-body .user-info-wrapper .user-img {
	width: 36px;
	height: 36px;
	border-radius: 100pxx;
	object-fit: cover;
	margin-right: 10px;
}

section.featured-comment .container-fluid .card .card-body .user-info {
	display: flex;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: auto;
}

section.featured-comment .container-fluid .card .card-body p {
	padding-top: 10px;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0rem;
}

section.featured-comment .container-fluid .card .card-body .card-link {
	float: right;
	padding-top: 10px;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0rem;
}
