footer {
	width: 100%;
	background-color: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

footer .container-fluid {
	width: 100%;
	padding-inline: 60px;
	padding-block: 10px;
}

footer .container-fluid p {
	font-family: "ESAllianz-Regular", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 14px;
	letter-spacing: 0em;
	text-align: center;
}
