section.search {
	width: 100%;
	margin-top: 60px;
	background-color: transparent;
}

section.search .container-fluid {
	width: 100%;
	padding: 30px 60px 0 60px;
	align-items: center;
	justify-content: space-between;
}

section.search.container-fluid .heading {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

section.search .container-fluid .heading h1 {
	display: inline;
	color: #191919;
	font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.3;
	font-size: 1.5em;
	font-weight: bold;
}
