section.daily-feedback {
	width: 100%;
	margin-top: 60px;
	background-color: transparent;
}

section.daily-feedback .container-fluid {
	width: 100%;
	padding: 30px 60px 0 60px;
	align-items: center;
	justify-content: space-between;
}

section.daily-feedback.container-fluid .heading {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

section.daily-feedback .container-fluid .heading h1 {
	display: inline;
	color: #191919;
	font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.3;
	font-size: 1.5em;
	font-weight: bold;
}

section.daily-feedback .container-fluid .card {
	height: 146px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/1070360/pexels-photo-1070360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 12px;
}

section.daily-feedback .container-fluid .card .dark-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	border-radius: 12px;
	z-index: 2;
}

section.daily-feedback .container-fluid .card .message {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: #fff;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0rem;
	z-index: 3;
}

section.daily-feedback .container-fluid .card .card-body {
	padding: 10px;
}

section.daily-feedback .container-fluid .card .card-body .product-name {
	width: fit-content;
	padding-inline: 12px;
	padding-block: 2px;
	color: #fff;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0rem;
	background-color: #000;
	border-radius: 6px;
}

section.daily-feedback .container-fluid .card .card-body .comment-wrapper {
	width: 100%;
	position: absolute;
	bottom: 10px;
}

section.daily-feedback .container-fluid .card .card-body .comment-wrapper .comment-body {
	margin-bottom: 12px;
	color: #fff;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0rem;
}

section.daily-feedback .container-fluid .card .card-body .comment-wrapper .comment-info {
	display: flex;
}

section.daily-feedback .container-fluid .card .card-body .comment-wrapper .comment-info .user-info {
	display: flex;
}

section.daily-feedback .container-fluid .card .card-body .comment-wrapper .comment-info .user-info img {
	margin-right: 6px;
	width: 34px;
	height: 34px;
}

section.daily-feedback .container-fluid .card .card-body .comment-wrapper .comment-info .user-info .user-firstname {
	color: #fff;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0rem;
}

section.daily-feedback .container-fluid .card .card-body .comment-wrapper .comment-info .user-info .created-at {
	color: #fff;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 10px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0rem;
}

section.daily-feedback .container-fluid .card .card-body .comment-wrapper .like-info {
	color: #fff;
	position: absolute;
	right: 20px;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0rem;
}
